*{
    box-sizing: border-box;
    padding: 0;
    margin: 0;
    font-size: 0;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}

body {
    background: url('https://raw.githubusercontent.com/grimeo/twelve/main/imgs/front-bg.jpg');
    /* background-color: gray; */
}
canvas{
    /* border: 1px solid #666; */
    outline: none;
    position: absolute;
    min-width: 900px;
    min-height: 700px;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    -ms-transform: translate(-50%, -50%);
    background: url('../imgs/bg.png');
    /* background-color: rgb(221, 213, 136); */
}
img{
    display: none;
    width: 100%;
    height: 100%;
}

audio{
    display:none;
}
.screen{
    z-index: 1;
    display: block;
    width: 900px;
    height: 700px;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    -ms-transform: translate(-50%, -50%);
    background-color: #36363649;
}

.btns-imgs{
    display: block;
}

#main-menu{
    background: url('../imgs/gamescreen-menu-bg.png');
}
    #play-btn{
        cursor: pointer;
        display: block;
        position: absolute; 
        width: 400px;
        transform: translate3d(calc(calc(900px - 400px) / 2), calc(calc(650px - 100px) / 2),0);
        -ms-transform: translate3d(calc(calc(900px - 400px) / 2), calc(calc(650px - 100px) / 2),0);
    }
        #play-btn:hover{
            opacity: .8;
        }
        #instruction-btn {
            cursor: pointer;
            display: block;
            position: absolute; 
            width: 200px;
            transform: translate3d(calc(calc(900px - 200px) / 2),400px,0);
            -ms-transform: translate3d(calc(calc(900px - 200px) / 2),400px,0);
        }
        #instruction-btn:hover{
            opacity: .8;
        }

#main-menu-sfx, #main-menu-music{
    cursor: pointer;
    display: inline-block;
    width:50px;
}
    #main-menu-music{
        transform: translate3d(750px, 600px,0);
        -ms-transform: translate3d(750px, 600px,0);
    }
        #main-menu-music:hover{
            opacity: 0.7;
        }
    #main-menu-sfx{
        transform: translate3d(800px, 525px,0);
        -ms-transform: translate3d(800px, 525px,0);
    }
        #main-menu-sfx:hover{
         opacity: .7
        }

#tutorial-screens{
    z-index: 2;
    display: none;
    width: 900px;
    height: 700px;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    -ms-transform: translate(-50%, -50%);
    background-color: #36363649;
}   
    .tut-imgs{
        display:block;
    }
        #tut1{
            background: url('../imgs/tutorial1.png');
            height: 700px;
        }
            .tut-home-btn{
                cursor: pointer;
                width:70px;
                display: block;
                position: absolute;
                transform: translate3d(120px, 560px, 0);
            }
            .tut-home-btn :hover{
                opacity: 0.85;
            }
            .next-btn{
                cursor: pointer;
                width: 180px;
                display: block;
                position: absolute;
                transform: translate3d(640px, 560px, 0);
            }
            .next-btn :hover{
                opacity: 0.85;
            }

        #tut2{
            height: 100%;
            background: url('../imgs/tutorial2.png');
        }
            .tut-prev-btn{
                cursor: pointer;
                width:180px;
                display: block;
                position: absolute;
                transform: translate3d(120px, 560px, 0);
            }
            .tut-prev-btn :hover{
                opacity: 0.85;
            }
            .next-btn{
                cursor: pointer;
                width: 180px;
                display: block;
                position: absolute;
                transform: translate3d(640px, 560px, 0);
            }
            .next-btn :hover{
                opacity: 0.85;
            }
        #tut3{
            height: 100%;
            background: url('../imgs/controls-tut.png');
        }
        .tut-prev-btn-2{
            cursor: pointer;
            width:70px;
            display: block;
            position: absolute;
            transform: translate3d(120px, 560px, 0);
        }
        .tut-prev-btn-2 :hover{
            opacity: 0.85;
        }
        #lesgo-btn{
            cursor: pointer;
            width: 180px;
            display: block;
            position: absolute;
            transform: translate3d(640px, 560px, 0);
        }
        #lesgo-btn :hover{
            opacity: 0.85;
        }

#pause {
    cursor: pointer;
    display: block;
    font-size: 20px;
    width: 30px;
    margin: auto;
}
    #pause:hover{
        opacity: 0.7;
    }
#continue{
    cursor: pointer;
    display: block;
    font-size: 20px;
    width: 50px;
    margin: auto;
}
    #continue:hover{
        opacity: 0.7;
    }

#gs-main-menu-btn,
#sfx,
#music{
    cursor: pointer;
    width: 50px;
    margin: 20px auto;
}
#gs-main-menu-btn:hover{
    opacity: .7;
}

#sfx:hover{
    opacity: .7;
}

#music:hover{
    opacity: .7;
}

#restart{
    cursor: pointer;
    display: block;
    width: 50px;
    height: 50px;
    transform: translate3d(350px,420px,0);
    -ms-transform: translate3d(350px,420px,0);
}
    #restart img{
        display: block;
    }
    #restart:hover{
        opacity: .7;
    }

#gameover{
    z-index: 3;
}
#go-main-menu-btn{
    cursor: pointer;
    display: block;
    width: 50px;
    height: 50px;
    transform: translate3d(500px,370px,0);
    -ms-transform: translate3d(500px,370px,0);
}
    #go-main-menu-btn:hover{
        opacity: .7;
    }
    #go-main-menu-btn img{
        display: block;
    }

span {
    font-size: 40px;
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
    color: white;
}
#score, #highscore, #survivor-dead, #survivor-alive, #results{
    /* border: 1px solid red; */
    position: absolute;
    width:340px;
    display: block;
    font-size: 40px;
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
    color: white;
    background-color: #36363649;
    border-radius: 10px;
}
#score{
    text-align: center;
    transform: translate3d(calc(calc(900px - 340px) / 2), 200px,0);
    -ms-transform: translate3d(calc(calc(900px - 340px) / 2), 200px,0);
}

#survivor-alive{
    text-align: center;
    transform: translate3d(calc(calc(900px - 340px) / 2), 270px,0);
    -ms-transform: translate3d(calc(calc(900px - 340px) / 2), 270px,0);
}
#survivor-dead{
    text-align: center;
    transform: translate3d(calc(calc(900px - 340px) / 2), 340px,0);
    -ms-transform: translate3d(calc(calc(900px - 340px) / 2), 340px,0);
}
#highscore{
    text-align: center;
    transform: translate3d(calc(calc(900px - 340px) / 2), 130px,0);
    -ms-transform: translate3d(calc(calc(900px - 340px) / 2), 130px,0);
}
#results{
    text-align: center;
    transform: translate3d(calc(calc(900px - 340px) / 2), 60px,0);
    -ms-transform: translate3d(calc(calc(900px - 340px) / 2), 60px,0);
}
#zombie-level{
    z-index: 3;
    /* display: none; */
    font-size: 70px;
}

#zombie-level-p {
    /* display: none; */
    font-size: 70px;
}

#power-ups{
    position:absolute;
    width: 550px;
    height: 230px;
    z-index: 2;
    display: none;
    background: transparent;
    /* background-color: #36363649; */
    /* border: 1px solid gray; */
    border-radius: 20px ;
    transform: translate3d(calc(calc(100vw - 550px) / 2), calc(calc(100vh - 250px) / 2),0);
    -ms-transform: translate3d(calc(calc(100vw - 550px) / 2), calc(calc(100vh - 250px) / 2),0);
}
    #choose{
        width: 300px;
        border-radius: 20px;
        margin: auto;
        font-size: 40px;
        font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
        /* background-color: red; */
        /* border: 5px solid whitesmoke; */
        text-align: center;
        transform: translate3d(0,20px,0);
    }
    .power-item{
        /* cursor: pointer;; */
        display: inline-block;
        width: 150px;
        height: 150px;
        background-color: #fcfcfc65;
        /* border: 5px solid white; */
        margin-top: 38px;
        margin-left: 25px;
        border-radius: 20px;
        opacity: .8;
    }
        .powerUps-imgs{
            display: block;
        }
        .powerLabel{
            font-size: 20px;
            text-align: center;
            
        }
        .powerLabelKey{
            text-align: center;
            /* background-color: #36363649; */
            font-size: 20px;
            font-weight: bolder;
        }
            /* #power-ups-3{
                opacity: .5;
            } */
            .powerCode{
                position: absolute;
                font-size: 30px;
                font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif; 
                transform: translate3d(10px,-60px,0);
                -ms-transform: translate3d(10px, -60px, 0);
            }